<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ q.title }}</title>
</head>
<body>
<h1>{{ q.title }}</h1>
<p>{{ q.text }}</p>
    {%  for a in q.answer_set.all %}
        <li>{{ a.text }}</li>
    {% endfor %}
<form method="post">
    <p><label for="id_text">Text:</label>
        <textarea name="text" cols="40" rows="10" required id="id_text"></textarea>
    </p><p><input type="hidden" name="question" value="{{ q.id }}"></p>
    {% csrf_token %}
    <p><button type="submit">Отправить</button></p>
</form>
</body>
</html>